(
.notdef,
NULL,
CR,
space,
nbspace,
"a-sinh",
"aa-sinh",
"ea-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicR-sinh",
"vocalicRr-sinh",
"vocalicL-sinh",
"vocalicLl-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"ngga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
"anusvara-sinh",
"visarga-sinh",
"ka_va-sinh",
"ka_ssa-sinh",
"ga_dha-sinh",
"nya_ca-sinh",
"tta_ttha-sinh",
"ta_tha-sinh",
"ta_va-sinh",
"da_dha-sinh",
"da_va-sinh",
"na_tha-sinh",
"na_da-sinh",
"na_dha-sinh",
"na_va-sinh",
"al-sign-sinh",
"al-sign-sinh.alt1",
"al-sign-sinh.alt2",
"aa-sign-sinh",
"aae-sign-sinh",
"ae-sign-sinh",
"au-sign-sinh",
"ee-sign-sinh",
"i-sign-sinh",
"i-sign-sinh.alt1",
"i-sign-sinh.alt2",
"i-sign-sinh.alt3",
"i-sign-sinh.alt4",
"i-sign-sinh.alt5",
"i-sign-sinh.alt6",
"i-sign-sinh.alt7",
"i-sign-sinh.alt8",
"i-sign-sinh.alt9",
"ii-sign-sinh",
"ii-sign-sinh.alt1",
"ii-sign-sinh.alt2",
"ii-sign-sinh.alt3",
"ii-sign-sinh.alt4",
"ii-sign-sinh.alt5",
"ii-sign-sinh.alt6",
"ii-sign-sinh.alt7",
"ii-sign-sinh.alt8",
"ii-sign-sinh.alt9",
"u-sign-sinh",
"u-sign-sinh.alt1",
"u-sign-sinh.alt2",
"u-sign-sinh.alt3",
"uu-sign-sinh",
"uu-sign-sinh.alt1",
"uu-sign-sinh.alt2",
"uu-sign-sinh.alt3",
"vocalicR-sign-sinh",
"e-sign-sinh",
"o-sign-sinh",
"oo-sign-sinh",
"ai-sign-sinh",
"vocalicL-sign-sinh",
"vocalicRr-sign-sinh",
"vocalicLl-sign-sinh",
"kunddaliya-sinh",
"repha-sign-sinh",
"repha-sign-sinh.alt1",
"yansa-sign-sinh",
"rakar-sign-sinh",
"rakar-sign-sinh.alt1",
"rakar-sign-sinh.alt2",
"rakar-sign-sinh.alt3",
"rakar-sign-sinh.alt4",
"rakar-sign-sinh.alone",
"aa-sign.al",
"ae-sign-sinh.low",
"aae-sign-sinh.low",
"candrabindu-sinh",
"nya-rakar-sinh",
"jnya-rakar-sinh",
"da-rakar-sinh",
"nda-rakar-sinh",
"na_da-rakar-sinh",
"kha-al-sinh",
"nga-al-sinh",
"ca-al-sinh",
"jha-al-sinh",
"tta-al-sinh",
"dda-al-sinh",
"nndda-al-sinh",
"dha-al-sinh",
"ba-al-sinh",
"ma-al-sinh",
"mba-al-sinh",
"ra-al-sinh",
"va-al-sinh",
"ka_va-al-sinh",
"ga_dha-al-sinh",
"nya_ca-al-sinh",
"ta_va-al-sinh",
"da_dha-al-sinh",
"da_va-al-sinh",
"na_dha-al-sinh",
"na_va-al-sinh",
"kha-i-sinh",
"nga-i-sinh",
"ca-i-sinh",
"jha-i-sinh",
"tta-i-sinh",
"dda-i-sinh",
"nna-i-sinh",
"nndda-i-sinh",
"dha-i-sinh",
"ba-i-sinh",
"ma-i-sinh",
"mba-i-sinh",
"ya-i-sinh",
"ra-i-sinh",
"va-i-sinh",
"ka_va-i-sinh",
"ga_dha-i-sinh",
"nya_ca-i-sinh",
"ta_va-i-sinh",
"da_dha-i-sinh",
"da_va-i-sinh",
"na_dha-i-sinh",
"na_va-i-sinh",
"kha-ii-sinh",
"nga-ii-sinh",
"ca-ii-sinh",
"jha-ii-sinh",
"tta-ii-sinh",
"dda-ii-sinh",
"nna-ii-sinh",
"nndda-ii-sinh",
"dha-ii-sinh",
"ba-ii-sinh",
"ma-ii-sinh",
"mba-ii-sinh",
"ya-ii-sinh",
"ra-ii-sinh",
"va-ii-sinh",
"ka_va-ii-sinh",
"ga_dha-ii-sinh",
"nya_ca-ii-sinh",
"ta_va-ii-sinh",
"da_dha-ii-sinh",
"da_va-ii-sinh",
"na_dha-ii-sinh",
"na_va-ii-sinh",
"ka-u-sinh",
"ga-u-sinh",
"ngga-u-sinh",
"nya-u-sinh",
"jnya-u-sinh",
"ta-u-sinh",
"da-u-sinh",
"nda-u-sinh",
"bha-u-sinh",
"la-u-sinh",
"sha-u-sinh",
"lla-u-sinh",
"na_da-u-sinh",
"ka-uu-sinh",
"ga-uu-sinh",
"ngga-uu-sinh",
"nya-uu-sinh",
"jnya-uu-sinh",
"ta-uu-sinh",
"da-uu-sinh",
"nda-uu-sinh",
"bha-uu-sinh",
"la-uu-sinh",
"sha-uu-sinh",
"na_da-uu-sinh",
"ra-ae-sinh",
"ra-aae-sinh",
exclam.sinh,
quotedbl.sinh,
numbersign.sinh,
percent.sinh,
quotesingle.sinh,
parenleft.sinh,
parenright.sinh,
asterisk.sinh,
plus.sinh,
comma.sinh,
hyphen.sinh,
period.sinh,
slash.sinh,
zero.sinh,
one.sinh,
two.sinh,
three.sinh,
four.sinh,
five.sinh,
six.sinh,
seven.sinh,
eight.sinh,
nine.sinh,
"zero-lith-sinh",
"one-lith-sinh",
"two-lith-sinh",
"three-lith-sinh",
"four-lith-sinh",
"five-lith-sinh",
"six-lith-sinh",
"seven-lith-sinh",
"eight-lith-sinh",
"nine-lith-sinh",
"one-archaic-sinh",
"two-archaic-sinh",
"three-archaic-sinh",
"four-archaic-sinh",
"five-archaic-sinh",
"six-archaic-sinh",
"seven-archaic-sinh",
"eight-archaic-sinh",
"nine-archaic-sinh",
"ten-archaic-sinh",
"twenty-archaic-sinh",
"thirty-archaic-sinh",
"forty-archaic-sinh",
"fifty-archaic-sinh",
"sixty-archaic-sinh",
"seventy-archaic-sinh",
"eighty-archaic-sinh",
"ninety-archaic-sinh",
"onehundred-archaic-sinh",
"onethousand-archaic-sinh",
colon.sinh,
semicolon.sinh,
less.sinh,
equal.sinh,
greater.sinh,
question.sinh,
bracketleft.sinh,
backslash.sinh,
bracketright.sinh,
asciicircum.sinh,
underscore.sinh,
braceleft.sinh,
bar.sinh,
braceright.sinh,
asciitilde.sinh,
sfthyphen.sinh,
endash.sinh,
emdash.sinh,
quoteleft.sinh,
quoteright.sinh,
quotedblleft.sinh,
quotedblright.sinh,
ellipsis.sinh,
multiply.sinh,
divide.sinh,
minus.sinh,
"touch-sinh",
zerowidthnonjoiner,
zerowidthjoiner,
dottedcircle,
"vocalicRbase-sinh",
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z
)