(
.notdef,
NULL,
CR,
space,
anusvarasinh,
visargasinh,
asinh,
aasinh,
easinh,
aaesinh,
isinh,
iisinh,
usinh,
uusinh,
rvocalicsinh,
rrvocalicsinh,
lvocalicsinh,
llvocalicsinh,
esinh,
eesinh,
aisinh,
osinh,
oosinh,
ausinh,
kasinh,
khasinh,
gasinh,
ghasinh,
ngasinh,
nngasinh,
casinh,
chasinh,
jasinh,
jhasinh,
nyasinh,
jnyasinh,
nyjasinh,
ttasinh,
tthasinh,
ddasinh,
ddhasinh,
nnasinh,
nnddasinh,
tasinh,
thasinh,
dasinh,
dhasinh,
nasinh,
ndasinh,
pasinh,
phasinh,
basinh,
bhasinh,
masinh,
mbasinh,
yasinh,
rasinh,
lasinh,
vasinh,
shasinh,
ssasinh,
sasinh,
hasinh,
llasinh,
kassasinh,
gadhasinh,
nyacasinh,
ttatthasinh,
tathasinh,
tavasinh,
dadhasinh,
davasinh,
nathasinh,
nadasinh,
nadhasinh,
navasinh,
viramasinh,
aavowelsignsinh,
aevowelsignsinh,
aaevowelsignsinh,
ivowelsignsinh,
iivowelsignsinh,
uvowelsignsinh,
uuvowelsignsinh,
rvocalicvowelsignsinh,
evowelsignsinh,
uni0DDA,
aivowelsignsinh,
uni0DDC,
uni0DDD,
uni0DDE,
lvocalicvowelsignsinh,
uni0DE6,
uni0DE7,
uni0DE8,
uni0DE9,
uni0DEA,
uni0DEB,
uni0DEC,
uni0DED,
uni0DEE,
uni0DEF,
u111E1,
u111E2,
u111E3,
u111E4,
u111E5,
u111E6,
u111E7,
u111E8,
u111E9,
u111EA,
u111EB,
u111EC,
u111ED,
u111EE,
u111EF,
u111F0,
u111F1,
u111F2,
u111F3,
u111F4,
rrvocalicvowelsignsinh,
llvocalicvowelsignsinh,
kunddaliyasinh,
rvocalicbasesinh,
rephsinh,
yapostsinh,
rakarsinh,
rakarsinh.medium,
rakarsinh.long,
ivowelsignsinh.alt,
iivowelsignsinh.alt,
ivowelsignsinh.alt2,
iivowelsignsinh.alt2,
ivowelsignsinh.alt3,
iivowelsignsinh.alt3,
ivowelsignsinh.alt4,
iivowelsignsinh.alt4,
uvowelsignsinh.alt,
uuvowelsignsinh.alt,
uuvowelsignsinh.long,
uuvowelsignsinh.medium,
uvowelsignsinh.long,
uvowelsignsinh.medium,
viramasinh.alt,
oovowelsignaltsinh,
aevowelsignlowsinh,
aaevowelsignlowsinh,
darasinh,
ndarasinh,
nadarasinh,
khahalantsinh,
ngahalantsinh,
cahalantsinh,
jhahalantsinh,
ttahalantsinh,
ddahalantsinh,
nnddahalantsinh,
dhahalantsinh,
bahalantsinh,
mahalantsinh,
mbahalantsinh,
rahalantsinh,
vahalantsinh,
kavahalantsinh,
gadhahalantsinh,
nyacahalantsinh,
tavahalantsinh,
dadhahalantsinh,
davahalantsinh,
nathahalantsinh,
nadhahalantsinh,
navahalantsinh,
khivowelsinh,
ngivowelsinh,
civowelsinh,
chivowelsinh,
jivowelsinh,
jhivowelsinh,
nyjivowelsinh,
ttivowelsinh,
tthivowelsinh,
ddivowelsinh,
ddhivowelsinh,
nnivowelsinh,
nnddivowelsinh,
thivowelsinh,
dhivowelsinh,
phivowelsinh,
bivowelsinh,
mivowelsinh,
mbivowelsinh,
yivowelsinh,
rivowelsinh,
vivowelsinh,
llivowelsinh,
kavivowelsinh,
gadhivowelsinh,
nyacivowelsinh,
ttatthivowelsinh,
tathivowelsinh,
tavivowelsinh,
dadhivowelsinh,
davivowelsinh,
nathivowelsinh,
nadhivowelsinh,
navivowelsinh,
khiivowelsinh,
ngiivowelsinh,
ciivowelsinh,
chiivowelsinh,
jiivowelsinh,
jhiivowelsinh,
nyiivowelsinh,
jnyiivowelsinh,
nyjiivowelsinh,
ttiivowelsinh,
tthiivowelsinh,
ddiivowelsinh,
ddhiivowelsinh,
nniivowelsinh,
nnddiivowelsinh,
thiivowelsinh,
dhiivowelsinh,
phiivowelsinh,
biivowelsinh,
miivowelsinh,
mbiivowelsinh,
yiivowelsinh,
riivowelsinh,
viivowelsinh,
kaviivowelsinh,
gadhiivowelsinh,
nyaciivowelsinh,
ttatthiivowelsinh,
tathiivowelsinh,
taviivowelsinh,
dadhiivowelsinh,
daviivowelsinh,
nathiivowelsinh,
nadhiivowelsinh,
naviivowelsinh,
nyuvowelsinh,
jnyuvowelsinh,
duvowelsinh,
nduvowelsinh,
luvowelsinh,
shuvowelsinh,
lluvowelsinh,
naduvowelsinh,
nyuuvowelsinh,
jnyuuvowelsinh,
duuvowelsinh,
nduuvowelsinh,
shuuvowelsinh,
naduuvowelsinh,
raevowelsinh,
raaevowelsinh,
exclam.sinh,
quotedbl.sinh,
numbersign.sinh,
percent.sinh,
quotesingle.sinh,
parenleft.sinh,
parenright.sinh,
asterisk.sinh,
plus.sinh,
comma.sinh,
hyphen.sinh,
period.sinh,
slash.sinh,
zero.sinh,
one.sinh,
two.sinh,
three.sinh,
four.sinh,
five.sinh,
six.sinh,
seven.sinh,
eight.sinh,
nine.sinh,
colon.sinh,
semicolon.sinh,
less.sinh,
equal.sinh,
greater.sinh,
question.sinh,
bracketleft.sinh,
backslash.sinh,
bracketright.sinh,
asciicircum.sinh,
underscore.sinh,
braceleft.sinh,
bar.sinh,
braceright.sinh,
asciitilde.sinh,
sfthyphen.sinh,
endash.sinh,
emdash.sinh,
quoteleft.sinh,
quoteright.sinh,
quotedblleft.sinh,
quotedblright.sinh,
ellipsis.sinh,
multiply.sinh,
divide.sinh,
minus.sinh,
uni0D81,
uni200B,
uni200D,
uni200C,
uni25CC,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
fasinh,
nbspace,
uuvowelsignsinh.va,
uvowelsignsinh.va,
viramasinh.alt2,
_part.ka,
kavasinh,
touchsinh,
"sanyaka-sinh"
)