{
displayStrings = (
"/vasinh",
"/space/jasinh/chasinh/rasinh",
"/dasinh",
"/jasinh",
"/uvowelsignsinh.long/uvowelsignsinh.medium",
"/uvowelsignsinh.medium",
"/viramasinh",
"/nasinh",
"/ivowelsignsinh.alt",
"/ivowelsignsinh.alt2",
"/hasinh",
"/rvocalicbasesinh/rvocalicsinh/rrvocalicsinh",
"/llasinh",
"/nnasinh/kasinh/tasinh/nasinh 
/nngasinh/hasinh/pasinh/ssasinh/sasinh/ghasinh/fasinh/lasinh/gasinh/shasinh/bhasinh/hasinh/lasinh 
",
"/ivowelsignsinh",
"/rephsinh",
"/kasinh/khasinh/gasinh/ghasinh/ngasinh/nngasinh/casinh/chasinh/jasinh/jhasinh/nyasinh/jnyasinh/nyjasinh/ttasinh/tthasinh/ddasinh/ddhasinh/nnasinh/nnddasinh/tasinh/thasinh/dasinh/dhasinh/nasinh/ndasinh/pasinh/phasinh/basinh/bhasinh/masinh/mbasinh/yasinh/rasinh/lasinh/vasinh/shasinh/ssasinh/sasinh/hasinh/llasinh/fasinh",
"/tasinh",
"/kasinh",
"/uuvowelsignsinh.alt",
"/uvowelsignsinh.alt",
"/rakarsinh.long",
"/rakarsinh",
"/hasinh/kassasinh",
"/kassasinh/kassarephsinh",
"/kavasinh/kassasinh/gadhasinh/nyacasinh/ttatthasinh/tathasinh/tavasinh/dadhasinh/davasinh/nathasinh/nadasinh/nadhasinh/navasinh"
);
}
