{
displayStrings = (
"/vasinh",
"/space/jasinh/chasinh/rasinh",
"/space/kasinh/khasinh/gasinh/ghasinh/nngasinh/casinh/jasinh/jhasinh/nyjasinh/tthasinh/ddhasinh/nnasinh/nnddasinh/tasinh/thasinh/dasinh/dhasinh/llasinh/nasinh/pasinh/phasinh/yasinh/rasinh/lasinh/hasinh/fasinh",
"/sasinh/nnasinh/nnasinh/basinh/bhasinh/masinh/llasinh",
"/nnasinh",
"/llasinh",
"/jasinh/nnddasinh/llasinh/tasinh/llasinh/sasinh/hasinh/llasinh",
"/dasinh",
"/jasinh",
"/uvowelsignsinh.long/uvowelsignsinh.medium",
"/uvowelsignsinh.medium",
"/viramasinh",
"/nasinh",
"/ivowelsignsinh.alt"
);
}
